<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}. All rights reserved.</span>
    <span class="footer__copyright">Uno theme by Dale-Anthony</span>
    <span class="footer__copyright">Proudly published with Ghost</span>
</footer>